.dropArea {
  margin: 0 auto;
  min-width: 100px;
  width: 90%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: dashed 4px #dddddd;
}

.dropArea.disable {
  user-select: none;
  pointer-events: none;
  opacity: 0.4;
}

.svg {
  display: none;
}
